html,
body {
  margin: 0;
  padding: 0;
  overscroll-behavior-y: contain;
  background-image: linear-gradient(to bottom, rgb(179, 224, 255), rgb(225, 247, 255));
}

html {
  overflow: hidden;
}

body {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cube {
  position: relative;
  width: var(--size);
  height: var(--size);
  transform-style: preserve-3d;
  user-select: none;
  cursor: grab;
  transform: rotateX(var(--rotateX)) rotateY(var(--rotateY));

  --size: min(50vh, 50vw);
  --opacity: 0.8;
  --rotateX: -33deg;
  --rotateY: -42deg;
}

.cube:active {
  cursor: grabbing;
}

.cube * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cube .face {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: var(--opacity);
  font-family: sans-serif;
  font-size: calc(var(--size) * 0.5);
  color: #ffffff;
  transform-style: preserve-3d;

  --half-size: calc(var(--size) / 2);
  --half-size-negative: calc(var(--half-size) * -1);

  --angle: 90deg;
  --angle-negative: calc(var(--angle) * -1);
}

.cube .face.n1 {
  transform: translateZ(var(--half-size));
  background-color: #120078;
}

.cube .face.n2 {
  transform: translateX(var(--half-size)) rotateY(var(--angle));
  background-color: #16697a;
}

.cube .face.n3 {
  transform: translateY(var(--half-size-negative)) rotateX(var(--angle));
  background-color: #a05344;
}

.cube .face.n4 {
  transform: translateY(var(--half-size)) rotateX(var(--angle-negative));
  background-color: #5c6e91;
}

.cube .face.n5 {
  transform: translateX(var(--half-size-negative)) rotateY(var(--angle-negative));
  background-color: #9d0191;
}

.cube .face.n6 {
  transform: translateZ(var(--half-size-negative)) rotateY(calc(var(--angle) * 2));
  background-color: tomato;
}
